celery==5.0.5
django-bootstrap3==14.2.0
django-orm-sugar==0.9.0
django==3.1.12
enum34==1.1.10
factory-boy==3.2.0
kombu==5.0.2
plotly==4.14.3
psycopg2-binary==2.8.6
python-dateutil>=2.6.0
python_upwork==2.0.1
redis==3.5.3
reportlab==3.5.63
requests==2.25.1
safe-logger==1.6.0
slackclient==2.9.3
urllib3==1.26.5
