{% extends "base.html" %}

{% block title %}Tracking by Tags{% endblock title %}

{% block content %}

<h2> Month: {{ month }} </h2>
<div class="row">
<a class="col-md btn btn-primary" href="?month={{month}}">Prev month</a>
<a class="col-md btn btn-success" href="?month={{next_month}}">Next month</a>
</div>

<table class="table">

<tr>
  <th>Tag</th>
  {% for team in teams %}
  <th>{{team}}</th>
  {% endfor %}
</tr>

{% for tag, value in tags.items %}
<tr>
  <td>
    {{ tag }}
  </td>
  {% for val in value %}
  <td>
    {{ val|floatformat }}
  </td>
  {% endfor %}
  <td>
</tr>
{% endfor %}
</table>

{% endblock content %}
